<!DOCTYPE html><html lang="en"><head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- title -->
    <title>Ducks Are Cute</title>

    <!-- favicons -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.ico') }}">
    
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"> -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">

    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/images/favicon-16x16.png') }}">
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"> -->

    <!-- <link rel="manifest" href="/images/site.webmanifest"> -->
    <link rel="manifest" href="{{ url_for('static', filename='/images/site.webmanifest') }}">

    <!-- <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5"> -->
    <link rel="mask-icon" href="{{ url_for('static', filename='/images/safari-pinned-tab.svg') }}" color="#5bbad5">

    <!-- <link rel="shortcut icon" href="/images/favicon.ico"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">

    <meta name="msapplication-TileColor" content="#da532c">

    <!-- <meta name="msapplication-config" content="/images/browserconfig.xml"> -->
    <meta name="msapplication-config" content="{{ url_for('static', filename='/images/browserconfig.xml') }}">

    <meta name="theme-color" content="#ffffff">
  
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> -->
    
    <!-- FLASK STYLESSHEETS -->
    <!-- <link rel="stylesheet" href="css/Heebo.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Heebo.css') }}">
  
    <!-- css -->
    <!-- <link rel="stylesheet" href="css/style_1_animation.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/a.min.css">
    <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_1_animation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/a.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  </head>
  
  <body class="is-boxed has-animations is-loaded" data-theme-mode-panel-active data-theme="light" style="font-family: Mazzard H;" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <div class="site-wrapper overflow-hidden position-relative">
  
      <header style="z-index: 999; position: absolute; height: 60px; width: 100vw; top: 0;">
        <a id="check-out-my-other-work" href="https://noahrayroberts.com/" target="_blank"><button class="my-btn-style-invert header-vert-center" style="float: right; font-size: 13px;">Check out my other work <svg style="height: 17px; display: inline; padding-bottom: 1.5px;" fill="" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" /><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" /></svg></button></a>
        <a href="https://ducksarecute.com/" style="text-decoration: none; width: 100px; float: left;" id="top-header-home-link"><div class="header-vert-center" style="width: 100px; font-weight: 700;">DucksAreCute</div></a>
      </header>
  
      <div class="hero-area-l1  position-relative background-property custom_background whole-page">
        <div class="container">
          <div class="row">

            <!-- MOBILE VIEW MAIN CONTENT -->
            <div id="mobile-view-main-content">
                <h1 class="mobile-header-titles" style="display: block; float: left;">Are ducks cute?</h1>
                <!-- <h1 class="mobile-header-titles" style="display: block; float: right; color: orange !important;">.com</h1> -->

                <img id="mobile-buzz-bee" class="mobile-only" style="height: 115px; position: absolute; margin-left: 40vw; margin-top: -130px; user-select: none; cursor: pointer; transform: rotate(-12deg) !important; z-index: -100 !important;" src="{{ url_for('static', filename='images/bee-official-path.png') }}" alt="image">

                <p id="mobile-main-content-text" style="line-height: 19px !important; font-size: .80em; margin-top: 150px; width: 80%; width: 317px; background-color: #d1ffc5; padding: 16px 20px 15px 20px; border-radius: 6px; margin-bottom: 0px;">Click this button <asdf style="height: 5px; line-height: 5px; background-color: #00ff55; padding: 0 2px; font-size: 1em; line-height: 19px !important;">if you think ducks are cute</asdf>!!! <b style="font-weight: 600; font-size: 1em; line-height: 19px !important;">Let's see how high we can go :)</b></p>

                  <br><br><span id="mobile-cancel-anytime" class="new-font-color" style="display: block; margin-top: 5px; font-size: .75em !important;"><b style="font-weight: 600; font-size: 1em;">Free Forever.</b> Cancel Anytime.</span>

                  <div class="image-3">
                      <img id="mobile-honey-comb" class="mobile-only" style="height: 250px; margin-top: 15px; position: absolute; left: -20vw; opacity: .5; user-select: none;" src="{{ url_for('static', filename='images/honeycomb.png') }}" alt="image">
                  </div>

            </div>

            <!-- DESKTOP VIEW MAIN CONTENT -->
            <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-10 order-lg-1 order-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" style="width: 460px; padding-left: 55px;" id="main-content">
              <div class="content big-left-col" style="margin-top: 250px; padding: 0;">

                <div class="image-3">
                    <img id="mobile-buzz-bee" class="mobile-only" style="height: 115px; position: absolute; margin-left: 40vw; margin-top: -130px; user-select: none; cursor: pointer; transform: rotate(-12deg) !important;" src="{{ url_for('static', filename='images/bee-official-path.png') }}" alt="image">
                </div>
  
                <!-- <h2 class="new-font-color">Ducks are cute<span style="font-size: .25em !important; font-weight: 300;" class="new-font-color">.com</span> </h2> -->
                <h2 class="new-font-color">Are ducks cute?<span style="font-size: .25em !important; font-weight: 300;" class="new-font-color"></span> </h2>
                <!-- <h2 class="new-font-color">Global Counter: <h2 id="counter">{{ counter }}</h2></h2> -->

				        <!-- <p style="line-height: 19px !important; font-size: .90em; width: 80%; width: 317px; background-color: #d1ffc5; padding: 16px 20px 15px 20px; border-radius: 6px; margin-bottom: 0px; font-weight: 400;"><asdf style="height: 5px; line-height: 5px; padding: 0 2px; font-size: 1em; line-height: 19px !important;">GLOBAL DUCKS-ARE-CUTE COUNTER: </asdf><b style="font-weight: 600; font-size: 1em; line-height: 19px !important;"><span id="counter">{{ counter }}</span></b></p> -->

				        <!-- <p style="line-height: 19px; font-size: .90em; margin-top: -20px; font-weight: 400;"><asdf style="height: 5px; line-height: 5px; background-color: #0aca4a; padding: 4px 5px; font-size: 1em; border-radius: 3px;">GLOBAL DUCKS-ARE-CUTE COUNTER: <b style="font-weight: 600; font-size: 1em;"><span id="counter">{{ counter }}</span></b></asdf><b style="font-weight: 600; font-size: 1em;"></b></p> -->

				        <p style="line-height: 19px; font-size: .90em; margin-top: -20px; font-weight: 400;">
                  <span style="height: 5px; line-height: 5px; background-color: #0aca4a; padding: 4px 5px; font-size: 1em; border-radius: 3px; padding-right: 0px; margin-right: 5px;">
                    <b style="font-weight: 600; font-size: 1em;">
                      <span id="counter">{{ counter }}</span> votes say so.</b>
                  </span> Agree? Increase the counter:
                  <b style="font-weight: 600; font-size: 1em;"></b></p>

                <!-- <input type="submit" value="Ugly!" name="subscribe" class="button my-btn-style" style="margin-left: 0;"> -->
                <input type="submit" id="increment-btn" value='Ducks Are Cute Button' name="subscribe" class="button my-btn-style" style="margin-left: 0;">
                <svg style="height: 40px; display: inline; margin-left: 10px; margin-bottom: 5px;" fill="#000000" version="1.1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 512 512" xml:space="preserve">
                    <!-- Rotate 90° clockwise around the origin, then translate into view -->
                    <g transform="translate(512 0) rotate(90)">
                      <g>
                        <g>
                          <path d="M484.964,265.749c-12.465-11.8-28.938-18.052-46.298-17.532c-17.172,0.488-33.327,7.454-45.489,19.616l-22.083,22.084
                            c-13.001-71.913-47.195-137.09-99.645-189.54C219.871,48.798,155.074,14.481,84.066,1.137c-19.2-3.61-38.834,1.471-53.862,13.936
                            C15.211,27.511,6.612,45.817,6.612,65.299c0,31.362,22.215,58.312,52.823,64.082c82.466,15.544,149.317,75.261,175.291,153.31
                            l-14.887-14.887c-25.301-25.299-66.563-26.13-91.98-1.844c-13.027,12.444-20.201,29.208-20.201,47.205
                            c0,17.431,6.788,33.817,19.113,46.143L260.38,492.918C273.102,505.64,289.812,512,306.523,512c16.71,0,33.42-6.361,46.144-19.081
                            L486.276,359.31c12.565-12.566,19.35-29.274,19.107-47.045C505.137,294.501,497.886,277.981,484.964,265.749z M471.849,344.883
                            L338.24,478.492c-17.489,17.489-45.946,17.489-63.435,0L141.196,344.883c-8.473-8.472-13.139-19.737-13.139-31.718
                            c0-12.372,4.934-23.896,13.892-32.455c8.453-8.076,19.483-12.085,30.602-12.085c11.857,0,23.816,4.559,32.859,13.605
                            l40.758,40.759c3.135,3.133,7.932,3.887,11.875,1.859c3.941-2.025,6.125-6.364,5.402-10.735
                            C246.397,210.988,165.929,128.694,63.21,109.334c-20.975-3.954-36.2-22.473-36.2-44.034c0-13.393,5.911-25.976,16.217-34.527
                            c10.34-8.577,23.853-12.073,37.07-9.586c66.953,12.582,128.065,44.953,176.725,93.616
                            c54.079,54.078,87.586,122.489,96.899,197.839c0.478,3.868,3.12,7.127,6.806,8.394c3.687,1.269,7.772,0.324,10.529-2.433
                            l36.345-36.345c17.461-17.463,45.875-18.222,63.338-1.694c8.887,8.414,13.875,19.771,14.042,31.981
                            C485.151,324.761,480.486,336.246,471.849,344.883z"/>
                        </g>
                      </g>

                      <g>
                        <g>
                          <path d="M302.691,457.773l-74.153-74.154c-3.984-3.98-10.441-3.982-14.426,0c-3.983,3.984-3.983,10.443,0,14.426l74.153,74.154
                            c1.992,1.991,4.601,2.988,7.212,2.988c2.61,0,5.221-0.995,7.213-2.988C306.674,468.215,306.674,461.756,302.691,457.773z"/>
                        </g>
                      </g>

                      <g>
                        <g>
                          <path d="M203.598,358.503l-5.665-5.665c-3.985-3.982-10.442-3.982-14.426,0c-3.983,3.984-3.983,10.443,0,14.426l5.665,5.665
                            c1.992,1.991,4.601,2.988,7.212,2.988s5.22-0.997,7.213-2.988C207.581,368.945,207.581,362.486,203.598,358.503z"/>
                        </g>
                      </g>
                    </g>
                  </svg>
              
                <br><span class="new-font-color" style="display: block; margin-top: 5px; font-size: .75em !important;"><b style="font-weight: 600; font-size: 1em;">Disclaimer: </b> the button WILL quack!</span>

                <div class="image-3">
                    <img id="mobile-honey-comb" class="mobile-only" style="height: 250px; position: absolute; left: -20vw; opacity: .5; user-select: none;" src="{{ url_for('static', filename='images/honeycomb.png') }}" alt="image">
                </div>
              
              </div>
            </div>
            
            <!-- DESKTOP view absolute images -->
            <div class="offset-xxl-2 col-xxl-5 offset-xl-1 col-xl-5 col-lg-6 col-md-8 order-lg-1 order-0 aos-init aos-animate" data-aos="fade-left" data-aos-delay="700" data-aos-duration="1000" id="example-newsletter-col">
              <div class="hero-image-group-l1" style="margin-left: 85px;">
  
                <img class="hero-media-image" style="margin-top: 150px; margin-left: 55px; height: 500px; z-index: 10; background-color: white; object-fit: contain; user-select: none; cursor: pointer; border: 5px solid white;" src="{{ url_for('static', filename='images/example-newsletter-redesign-3.png') }}" alt="Newsletter Image">

                <svg id="desktop-blob-main" style="position: absolute; margin-top: -600px; right: -190px; z-index: -10; height: 680px;" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#d1ffc5" d="M42.6,-58.2C54.4,-50,62.6,-36.5,68.2,-21.6C73.7,-6.7,76.6,9.5,72.2,23.5C67.7,37.5,55.9,49.1,42.7,61.1C29.5,73.1,14.7,85.3,-1.7,87.7C-18.1,90,-36.3,82.5,-49.7,70.6C-63.1,58.7,-71.8,42.4,-77.2,25.2C-82.5,8.1,-84.5,-10,-80.6,-27.4C-76.6,-44.8,-66.7,-61.5,-52.3,-68.8C-37.9,-76.2,-18.9,-74.2,-1.8,-71.8C15.4,-69.3,30.8,-66.4,42.6,-58.2Z" transform="translate(100 100)" />
                </svg>

                <div class="image-3">
                    <img style="height: 115px; margin-top: -510px; margin-left: -308px; user-select: none; cursor: pointer; transform: rotate(-12deg) !important;" src="{{ url_for('static', filename='images/bee-official-path.png') }}" alt="image">
                </div>

                <div class="image-3">
                    <img style="height: 250px; opacity: .5; margin-left: -865px; margin-top: 315px; user-select: none;" src="{{ url_for('static', filename='images/honeycomb.png') }}" alt="image">
                </div>
  
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/dynamic_load_in_mailchimp_form_once.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/handle_custom_signup_form_submit.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/misc.js') }}"></script>
  
    <!-- <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script> -->

  </body>
  </html>
